[Unit]
Description=Kittygram API Gunicorn service
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/kittygram
EnvironmentFile=/var/www/kittygram/.env
ExecStart=/var/www/kittygram/venv/bin/gunicorn kittygram2.wsgi:application --bind 127.0.0.1:8000 --workers 3
Restart=always

[Install]
WantedBy=multi-user.target
